.stars{
	
	animation: anim-stars 18s linear infinite;
}

@keyframes anim-stars {
    from {
        transform: translatex(-200px);
    }
    to {
        transform: translatex(650px);
    }
}



.stars2{
	
	animation: anim-stars 10s linear infinite;
}

@keyframes anim-stars2 {
    from {
        transform: translatex(-200px);
    }
    to {
        transform: translatex(650px);
    }
}
