.informatica{
    z-index: 2;
}
    .nav{
        margin-left: auto;
        display: inline-flex;
        align-items: center;
        margin-right: 20px;
       
    }
    
    .nav >a{
        padding: 0px 10px;
        color: white;
        margin: 0;
        text-decoration: none;
    }
    #sublinhado{
        border-bottom: 3px solid yellow;
    }
    .header{
    background-color: black;
    height: 60px;
    color: white;
    display: flex;
   
    
}
    *{margin: 0;
        padding: 0;
    }

 #perfil{
 width: 50px;
 height: 50px;}
#h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 70px;
    padding-top: 200px;
    padding-bottom: 100px;
    color: black;
}
#h1header{
    color: white;
    font-family:Brush Script MT, Brush Script Std, cursive;
    font-size: 40px;
}
h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
}

#telefone{
padding-right:  250px;
margin-left: 20px;
}

#divmae{
    display: flex;
    padding-bottom: 100px;
    z-index: 1;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}
#h2{
    text-align: center;
}
.icon{
    width:100px ;
    height:100px ;
    
  margin: 30px;
  text-align: center;
 
    
}
#divmae2{
    text-align: center;
    margin: auto;
    
}
#sublinhado{
    border-bottom: 3px solid yellow;
}
#espaco{
    padding:500px;
}
#fale{
   border: 1px solid black;
   border-radius: 15px;
   padding: 0 50px ;
   
}
#fale2{
    text-align: center;
    padding-top: 10px;
    background-color: rgb(178, 217, 241);
}