
@font-face {
    font-family: agr;
    src: url(fonte/GROBOLD.ttf);
}
body{
   background-color:black;
   overflow-x: hidden;
}

       .nav{
        margin-left: auto;
        display: inline-flex;
        align-items: center;
        margin-right: 20px;
        
       
    }
    
    .nav >a{
        padding: 0px 10px;
        color: white;
        margin: 0;
       text-decoration: none;
    }
    #sublinhado{
        border-bottom: 3px solid yellow;
    }
    .header{
    background-color: black;
    height: 60px;
    color: white;
    display: flex;

}
#h1header{
    color: white;
    font-family:Brush Script MT, Brush Script Std, cursive;
    font-size: 40px;
    padding-top: 0;
}
    *{margin: 0;
        padding: 0;
    }

 #perfil{
 width: 50px;
 height: 50px;}
h1{
    
    font-family: 'agro','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-size: 100px;
    padding:20px;
    
}
.divs{
   
    border: 1px solid black;
    display: inline-block;
    padding: 50px;
    margin: 40px 20px ;
    
}
.divmae{
    
    text-align: center;
    
    
}
#sublinhado{
    border-bottom: 3px solid yellow;
}
#globo{
    position: absolute;
    left: 37%;
    top: 35%;
}
h2{padding: 20px;
    position: absolute;
    color: white;
    font-family: 'aliance','Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 70px;
    padding-top: 300px;
    font-weight: bold;
}
#seta{
    padding-top:30%;
    width: 200px;
    text-align: center;
    padding-left: 10%; ;
}
button{
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin: 0;
    border: 10px solid turquoise;
    cursor: pointer;
   
}
button:hover{
    background-color: black;
    color: turquoise;

}
div{
    margin-left: 120px;
}