@charset "UTF-8";

body {
    margin:0;
   
    
}
.nav{
    margin-left: auto;
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
   
}

.nav >a{
    padding: 0px 10px;
    color: white;
    margin: 0;
    text-decoration: none;
}



    #painel{    
            position: absolute;
            color: grey;
            background-color:grey ;
            width: 500;
            height: 200;
    }
    p{  text-align: center;
       
          
        
    }
    #perfil{
        width: 50px;
        height: 50px;
        }
        
    #faixamae{
        text-align: center;
    }
    h1{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       text-align: center;
        top: 0px;
        display: inline-block;
        border: 1px solid black;
        border-radius: 15px;
        padding-left: 5px;
        
        background-color: black;
       
    }
     
    .fundo{
            background-color:#474448;
            padding: 50px;
            border-radius: 10px;
        border: 1px solid black;
        Box-shadow: 10px 10px 30px grey;
        color: white;
    }

    .opcoes{background-color:#ffffff;

    }
       .opcoes:hover{background-color:#023e8a;
                    color: aliceblue;

       }
            
       .centro{align-items: center;
                text-align: center;
                justify-content: center;
          }
    



    
    #ops{ align-items: center;
        background-color: gray;
        text-align: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        
        
        
    }
    #ops2{ align-items: center;
        background-color: #474448;
        text-align: center;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        padding: 0px;
        color: white;
        
    }
#ops2:hover{background-color: #474448;
    color: white;

}
  
  
       
    
 #td1{border-radius:10px;
    border-radius:10px;
    Box-shadow:10px 10px 30px grey;
    padding: 10px;
    border: 3px solid black;

      
     
 }

 #td2{
padding: 20px;
 }
 #td3{
    padding: 20px;
     }
#td4{padding:  1px;
    background-color:#3a6ea5 ;
    border-radius: 10px;
    border: 3px solid black;
   transition: ease 2s;
    
 
}
#td4:hover{padding: 20px ;
    background-color: tomato;


}

.img{width: 100;
    height: 200;

}
 .img:hover{width: 700;
    height: 300;

 }
#faixa{background-color: #6d6e70;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: white;
        top: 0px;
        height: 60px;

}
#faixa2{
    text-align: center;
    
    color: white;
    top: 0px;
    height: 60px;
    line-height: 60px;

}
.botoes{background-color: white ;
    border-radius: 500px;
    border: 3px solid black;
        
        
    
}
.botoes:hover{
                background-color:black ;
                color: white;
                width: 65% ;
                height: 20%px ;
}

#divs{
    
    border-radius: 15px;
    
    display: inline-block;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    transition: ease 2s;
    padding: 5px;
    justify-content:  center;
    text-align: center;
    align-items: center;
    transition: ease 0.3s;
    margin: 10px;
    cursor: pointer;
   
}

#divs:hover{
    background-color: tomato;
    top: -5px;
    border:3px solid black;
   
}
#divmae{
    
   text-align: center;
    width: 100%;
   
}

#imgdiv{
   width: 100px;
   height: 100px;
   border-radius: 15px;
 
    
   }

      
   #sublinhado{
    border-bottom: 3px solid yellow;
}
     
        
    

#prodape{
  margin:auto;
  text-align: center;
  top: 10px;
  right: 0;
  left: 0;
  color: white;
 position: absolute;
}

.faixa2{
    border: 2px solid black;
   
}
.button{padding: 15px;
padding-left: 25px;
padding-right: 25px;
cursor: pointer;
border-radius: 15px;
font-size: 20px;

}
.button:hover{
border:5px solid black;
  
}
#tdbotao{
    padding: 10px;
}
#nosso{
    background-color: rgb(178, 217, 241);
    text-align: center;
    
}
#nosso1{
    background-color: rgb(178, 217, 241);
    text-align: center;
    width: 400px;
}