*{
    margin: 0;
    padding: 0;
}

 
#perfil{
width: 50px;
height: 50px;
}

#divmae{
    text-align: center;
    padding-top: 50px;
  
    
}
#div1{border: 2px solid black;
    display: inline-block;
    width: 400px;
    height: 400px;
    border-radius: 15px;
    margin: 15px;
    
}

#div2{border: 2px solid black;
    display: inline-block;
    width: 400px;
    height: 400px;
    border-radius: 15px;
    margin: 15px;
}

#div3{border: 2px solid black;
    display: inline-block;
    width: 400px;
    height: 400px;
    border-radius: 15px;
    margin: 15px;
}


.nav{
    margin-left: auto;
    display: inline-flex;
    align-items: center;
    margin-right: 20px;
   
}

.nav >a{
    padding: 0px 10px;
    color: white;
    margin: 0;
    text-decoration: none;
    
}
#sublinhado{
    border-bottom: 3px solid yellow;
}

#h1{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
   color: rgb(65, 125, 236);
  
   
   
    
}
p{
    font-size:25px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 200px;
    padding-left: 200px;
    padding-right: 200px;
}


#sublinhado{
    border-bottom: 3px solid yellow;
}
#quemsomos{
    text-align: center;
    background-color: rgb(178, 217, 241);
}
ul{
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    
    
    
}
#lista{
    padding: 100px;
   
  
   

}
#lista2{
    padding: 100px;
    
    
   
    
}
li{
    padding: 20px;
    font-size: 40px;
}
